table,td{
    /* border: 1px solid black; */
    border-collapse: collapse;
    text-align: center;
    /* padding: 5 10; */
}

td{
    padding: 5 10;
}

/* tr:first-child{}
tr:last-child{}
tr:nth-child(3){} */


tr:nth-child(even){
    background-color: aqua;
}
tr:nth-child(odd){
    background-color: rgb(195, 245, 228);
}
tr:first-child{
    background-color: rgb(6, 199, 48);
}
tr:hover{
    background-color: rgb(36, 137, 226);
    /* box-shadow: 0px 0px 5px 5px rgb(185, 149, 95); */
    cursor: pointer;

}
table{
    border-radius: 20px;
    overflow: hidden;
}




.parent{
    position: relative;
    left: 50%;
    /* justify-content: center; */
}
.child1{
    width: fit-content;
    border: 1px solid black;
    position: absolute;
    padding: 5 10;
    background-color: rgb(30, 212, 212);
    font-size: 20;
    border-radius: 10%;
    cursor: pointer;
}
/* .child1:hover{
    box-shadow: 0px 0px 5px 5px rgb(99, 255, 255);
} */
.child2{
    width: fit-content;
    font-size: 20;
    position: absolute;
    top: 35;
    display: none;
    cursor: pointer;

}
.child2 div:hover{
    background-color: rgb(99, 255, 255);
    color: white;
}
.k{
    width: fit-content;
    border: 1px solid black;
    padding: 5 10;
    font-size: 20;
}
a{
    text-decoration: none;
}
.parent:hover .child2{
    display: block;  
}